@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}
@font-face {
    font-family: 'Garamond';
    src: url('fonts/Garamond/Garamond.eot');
    src: url('fonts/Garamond/Garamond.eot?#iefix') format('embedded-opentype'),
        url('fonts/Garamond/Garamond.woff2') format('woff2'),
        url('fonts/Garamond/Garamond.woff') format('woff'),
        url('fonts/Garamond/Garamond.ttf') format('truetype'),
        url('fonts/Garamond/Garamond.svg#Garamond') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Garamond';
    src: url('fonts/Garamond/Garamond-Bold.eot');
    src: url('fonts/Garamond/Garamond-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Garamond/Garamond-Bold.woff2') format('woff2'),
        url('fonts/Garamond/Garamond-Bold.woff') format('woff'),
        url('fonts/Garamond/Garamond-Bold.ttf') format('truetype'),
        url('fonts/Garamond/Garamond-Bold.svg#Garamond-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}



.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1400px;margin: 0 auto;text-align: center;font-family: Arial}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* icons */
.bg-phone {width: 28px; height: 28px;background: url('../images/common/css_sprites.png') -10px -55px;}
.bg-email {width: 32px; height: 25px;background: url('../images/common/css_sprites.png') -10px -10px;}
.bg-hdPhone {width: 28px; height: 28px;background: url('../images/common/css_sprites.png') -62px -10px;}
.bg-location {width: 23px; height: 29px;background: url('../images/common/css_sprites.png') -110px -10px;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }

/*button*/
.btn {font-family: "Lato"; font-size: 17px; font-weight: 700; color: #fff; display: inline-block; padding: 16.02px 58px; border-radius: 100px; background: none; border: 1px solid #fff ; transition: all 0.5s ease;letter-spacing: 4px}
.btn2 {font-family: "Garamond"; font-weight: bold; font-size: 17px; color: #fff; display: inline-block; padding: 16.7px 52.4px; border-radius: 100px; background: #8BD3F5; border: none ; transition: all 0.5s ease;letter-spacing: 4px}
.btn3 {font-family: "Garamond"; font-weight: bold; font-size: 17px; color: #fff; display: inline-block; padding: 16.02px 32px;border-radius: 100px; background: #000000; border: 1px solid #000 ; transition: all 0.5s ease;letter-spacing: 4px}
.btn:hover {background: #ddd; border-color: #ddd; color: #000;}
.btn2:hover {background: #ddd; border-color: #ddd; color: #000;}
.btn3:hover {background: #ddd; border-color: #ddd; color: #000;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Garamond";font-size: 96px;font-weight: 700;color:#000;}
h2 {font-family: "Garamond"; font-weight: 400; font-size: 50px; color: #000000;}
h3 {font-family: "Garamond"; font-weight: 700; font-size: 46px; color: #63C2F1;letter-spacing: 6px}
/*header*/
#header {position: relative;padding: 18px 0 0;z-index: 999}
#header .row{max-width: 1400px;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-family: "Garamond"; font-weight: 400; font-size: 17px; color: #fff; margin-left: 60px;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#fff;}
.hdRight{text-align: right;}
.hdRight .phone{text-align: center;max-width: 308px;background: #8BD3F5; border-radius: 50px; margin: 0 0 0 auto;}
.hdRight p{font-family: "Garamond"; font-weight: 700; font-size: 36px; color: #fff;margin: 40px auto 0;padding: 5px 0;}
.hdRight p img, .hdRight p span {display: inline-block; vertical-align: middle;}

/*banner*/
#banner {background: url(../images/common/bgBanner.jpg)no-repeat center top; background-size: cover;padding: 420px 0 360px; position: relative;margin-top: -155.31px;}
#banner p{font-family: "Garamond"; font-weight: 700; font-size: 96px; color: #fff; margin: 0 auto;line-height: 119px; position: relative;}
#banner p::after{content:""; width: 97px; height: 1px;background: #fff; position: absolute; top:-10px; left:50%; transform: translateX(-50%);}

/*content*/
#services {background: none;padding: 58px 0}
#services dl.col-4{width: 23.33%;margin: 0 24px 0 0;}
#services dl:nth-of-type(4){margin: 0;}
#services dl{border-radius: 5px; border: 1px solid #CCCCCC;}
#services dl dt{min-height: 235px; position: relative;}
#services dl dt img{position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%);}
#services dl dd {margin: 0;min-height: 173px}
#services dl dd p{margin: 0 auto;font-family: "Garamond"; font-weight: 400; font-size: 23px; color:#000; max-width: 236px; letter-spacing: 4px}
#services dl dd p span{display: block;font-size: 15px}
#services dl dd .btn2 {font-family: "Garamond"; font-weight: bold; font-size: 17px; padding: 16.02px 30px; letter-spacing: 6px;margin: 38px 0 0;}
#services dl:nth-child(1) dd .btn2{margin: 22px 0 0;}

/* about */
#about{background: url(../images/common/bg1.jpg)no-repeat center top; background-size: cover;padding: 36px 0 52px;}
#about .row{max-width: 100%}
#about p{max-width: 1168px; margin: 0 auto;font-family: "Garamond"; font-weight: 400; font-size: 24px; color: #ffffff;letter-spacing: 1px;line-height: 35.5px;}
#about p.point{margin: 30px auto 47px; color: #ffffff;position: relative;max-width: 100%}
#about p.point::before{content: ""; width: 49%; height: 1px;position: absolute;top: 50%; left: 0; transform: translateY(-50%);background: #ffffff}
#about p.point::after{content: ""; width: 49%; height: 1px;position: absolute;top: 50%; right: 0; transform: translateY(-50%);background: #ffffff}
#about .btn2{margin-top: 46px;}

/* whychooseus */
#chooseus{padding: 48px 0 72px;border-bottom: 1px solid #DDDDDD}
#chooseus h2{margin-bottom: 45px;}
#chooseus .wcTop{text-align: left;}
#chooseus .topRight p:nth-of-type(1){font-family: "Garamond"; font-weight: 400;font-size: 22px; line-height: 31.25px;letter-spacing: 0.5px;}
#chooseus .topRight ul{list-style: none; padding: 0; margin: 0;}
#chooseus .topRight ul li p img, #chooseus .topRight ul p span{display: inline-block; vertical-align: bottom;}
#chooseus .topRight .section{max-width: 493px; margin: 0 auto 0 88px;}
#chooseus .topRight p a{font-family: "Garamond"; font-weight: 400; font-size: 23px; color: #63C2F1}
#chooseus .wcBot{text-align: left}
#chooseus .botLeft ul{list-style: none; padding: 0; margin: 25px 0 0;}
#chooseus .botLeft ul li p img, #chooseus .botLeft ul p span{display: inline-block; vertical-align: bottom;}
#chooseus .botLeft ul li p img{max-width: 23px; margin-left: 10px;}
#chooseus .botLeft ul p span{margin-left: 10px;font-family:"Garamond"; font-weight: 400; font-size: 23px; color: #000000;}
#chooseus .botLeft .section{max-width: 478px; margin: 56px auto 0 0;}

#contact .hdContact{padding: 66px 0 27px;}
#contact .hdContact p{margin: 0; font-family: "Garamond"; font-weight: 400; font-size: 20px; color: #000000;}
#contact .contactForm{background: #8BD3F5; padding: 48px 0 54px;}
#contact form{max-width: 1091px; margin: 0 auto;}
#contact form input[type="text"]{float: left; width: 356px;height: 44px;margin: 0 11px 14px 0;}
#contact form input[type="text"]:nth-of-type(3){margin: 0;}
#contact form textarea{width: 1091px; height: 106px;}
#contact form input[type="text"]::placeholder, #contact form textarea::placeholder{font-family: Garamond; font-weight: 400; font-size: 17px; color: #AAAAAA;}
/*footer*/

#footer {background: url(../images/common/bgFooter.jpg)no-repeat center top; background-size: cover;;padding: 67px 0 36px}
.contactDetails .col-3{width: 26%;}
.contactDetails .col-6{width: 47%;}
.contactDetails{margin-top: 69px;}
.contactDetails dl {min-height: 200px}
.contactDetails dl dt{text-align: left;margin-left: 70px;font-family: "Garamond"; font-weight: 400; font-size: 17px; color: #8BD3F5;padding: 40px 0 0;}
.contactDetails dl dt p{margin: 0 auto 1em;}
.contactDetails dl dt p img, .contactDetails dl dt p span{display: inline-block;vertical-align: middle;}
.contactDetails dl dt p span{margin-left: 10px;}
.contactDetails dl dd{font-family: "Garamond"; font-weight: 400; font-size: 22px; color: #fff;margin-left: 70px;text-align: left;}
.contactDetails dl:nth-of-type(2){border-left: 1px solid rgba(255,255,255,0.5); border-right: 1px solid rgba(255,255,255,0.5)}
.contactDetails dl:nth-of-type(1) dd{font-size: 32px ;}
.footTop {padding: 0 0 36px; border-bottom: 1px solid rgba(255,255,255,0.5);}
.footTop .nav ul{margin: 36px 0 0;padding: 0}
.footTop .nav ul li {display: inline-block;vertical-align: middle;}
.footTop .nav ul li a {font-family: "Garamond"; font-weight: 400; font-size: 17px; color: #fff; margin:0 35px 0;}
.footTop .nav ul li.active-menu a .footTop .nav ul li a:hover {color:#fff;}

#footer .copy, #footer .silver {font-family: "Garamond"; font-weight: 400; font-size: 20px; color: #ffffff;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}

/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


/** Responsive
-------------------------------------------------------*/


/* @media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}

@media screen and (max-width: 800px){
  [class*="col-"] {
        width: 100% !important;
        float:none !important;
    }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
} */
